# IDE specific
.settings/
.externalToolBuilders/
.recommenders/
.metadata
.loadpath
.recommenders
*.tmp
*.bak
*.pydevproject
*.project
*.launch
.cproject
.factorypath
.buildpath
.target
.vscode
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix

*.swp
*.swo
*.swm
*.swn

# General
*.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# KDE directory preferences
.directory

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

## jupyter notebook checkpoints
.ipynb_checkpoints

## pytest
.pytest_cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.cache
nosetests.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Yarn using Zero-Installs

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
